In [1]:
import pandas as pd
import category_encoders as ce

In [3]:
# Create the dataframe
data = pd.DataFrame({'Month':['January','April','March','April','Februay','June','July','June','September']})
data

       Month
0    January
1      April
2      March
3      April
4    Februay
5       June
6       July
7       June
8  September

In [5]:
# Create object for hash encoder
encoder = ce.HashingEncoder(cols='Month', n_components=6)

# Fit and Transform Data
encoder.fit_transform(data)

   col_0  col_1  col_2  col_3  col_4  col_5
0      0      0      0      0      1      0
1      0      0      0      1      0      0
2      0      0      0      0      1      0
3      0      0      0      1      0      0
4      0      0      0      1      0      0
5      0      1      0      0      0      0
6      1      0      0      0      0      0
7      0      1      0      0      0      0
8      0      0      0      0      1      0